body {
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #262A41;
  color: #fff;
}

.title {
  font-family: 'poppins';
  font-size: 1.6rem;
}

.footer-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  color: #d1caca;
}